<div class="container">

<div class="col-md-9">
<% cache @items do%>
  <% @items.list_items do |item|%>

    <%= render 'item/shared/item_list/index',{ :item => item} %>

  <% end %>

  </div>
<% end %>


</div>
