<div class="container">

  <div class="col-md-9">
<% cache :item_list do%>
  <% @items.each do |item|%>

    <%= render 'item/shared/item_list/index',{ :item => item} %>

  <% end %>

  </div>
<% end %>


</div>
