
<div class="row">

  <div class="col-md-3 col-sm-3 col-xs-5 titles first">
    <% if location %>
        <span><i class="fa fa-building"></i> City:  <%= location.s_city %></span></div>
            <span> <i class="fa fa-building"></i> District:
              <% if location.s_district %>
                         <%= location.s_district %>

                    <% else %>
                         <%= t("form_input.item.item_location_default")%>
                <% end %>
                  </span>

    <% end %>
    </div>