
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-5 titles first"><span><i class="fa fa-briefcase"></i>
    <%= t("form_input.item.item_salary_rate") %>
        </span>
  </div>
   <%= rate %>
</div>