
<div class="share-networks clearfix">

  <div class="col-md-3 col-sm-2 col-xs-12 share-label"><i class="fa fa-share fa-lg"></i> Share This:</div>

  <div class="col-md-2 col-sm-2 col-xs-4 share-option fb"><a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost/realcon/index.php/en/show/detail/53cc07d8935ac/Beautiful-Condo" target="_blank"><i class="fa fa-facebook fa-lg"></i>Facebook</a></div>

  <div class="col-md-2 col-sm-2 col-xs-4 share-option twitter"><a href="https://twitter.com/share?url=http://localhost/realcon/index.php/en/show/detail/53cc07d8935ac/Beautiful-Condo" target="_blank"><i class="fa fa-twitter fa-lg"></i>Twitter</a></div>

  <div class="col-md-2 col-sm-2 col-xs-4 share-option gplus"><a href="https://plus.google.com/share?url=http://localhost/realcon/index.php/en/show/detail/53cc07d8935ac/Beautiful-Condo" target="_blank"><i class="fa fa-google-plus fa-lg"></i>Google</a></div>

  <div class="col-md-2 col-sm-2 col-xs-4 share-option gplus"><a href="http://localhost/realcon/index.php/en/show/printview/53cc07d8935ac" target="_blank"><i class="fa fa-print fa-lg"></i>Print</a></div>

</div>