<div form="form-group">
  <label>
    <%= t("form_input.item.item_location_city") %>
  </label>
  <%= f.collection_select(:location_city_id, LocationCity.all, :id, :name, {prompt: t("form_input.item.default_select") },
                          {
          class: "form-control",
          id: "location_city",
          required: true
                          })

  %>
</div>
<div form="form-group">
  <label>
    <%= t("form_input.item.item_location_district") %>
  </label>
  <%= f.collection_select(:location_district_id, LocationDistrict.none, :id, :name, {prompt: t("form_input.item.default_select") },
                          {
                                  class: "form-control",
                                  id: "location_district",
                                  required: true

                          })

  %>
</div>